@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2rem;
  height: 100vh;
  color: #222;
  background-color: #7eabe5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 112rem;
  gap: 4rem;
  padding: 6rem 0;
  border: 2px solid #222;
  outline: 2px solid #222;
  outline-offset: 1.2rem;
}

h1 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 2px;
  word-spacing: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 2.4rem;
}

input {
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  background-color: #ffffff;
  padding: 1.6rem 3.2rem;
  border: none;
  width: 32rem;
}

input:focus {
  outline: 2px solid #222;
}

.weather {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.day {
  background-color: #ffffff;
  padding: 1.6rem 0 2rem;
  width: 12.8rem;
border: 2px solid rgb(125, 112, 112);
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
  transition-duration: 0.4s;
}

.day:hover {
  background-color: #04AA6D; 
  color: white;
}

.day span {
  font-size: 5.2rem;
}

.day.important {
  background-color: #ff1e00;
  outline: 2px solid #222;
}

.loader {
  font-size: 2.4rem;
  font-weight: 700;
}

.button {
  border: 2px solid rgb(125, 112, 112);
  border-radius: 3px;
  transition-duration: 0.4s;
  background-color: #ffffff;
  width: 10rem;
  height: 5rem;
}

.button:hover {
  background-color: #04AA6D; 
  color: white;
}